{% if curso.pk == 1 %}
    <img src="https://www.python.org/static/community_logos/python-logo.png">
    <h1><a href="https://www.cursoemvideo.com/course/python-3-mundo-1/">{{curso.nomecursos}}</a></h1>
    <ul>
        {% for c in TodosCursos.set.all %}
        <li>
            {{c.tipo}}
        </li>
        {% endfor %}
    </ul>
{% elif curso.pk == 2 %}
    <h1><a href="https://www.cursoemvideo.com/course/java-basico/">{{curso.nomecursos}}</a></h1>
{% elif curso.pk == 3 %}
    <h1><a href="https://www.cursoemvideo.com/course/php-basico/">{{curso.nomecursos}}</a></h1>
{% endif %}

<h2>{{curso.nomeinstruct}}</h2>

{%if error_mens %}<p><strong>{{error_mens}}</strong></p>
{% endif %}

<form action="{% url 'escolha' curso.id %}"
    method="post">
    {% csrf_token %}
    {% for sel in curso.detalhes_set.all %}
        <input type="radio" name="escolha" id="escolha{{ forloop.counter }}" value="{{ sel.id }}">
        <label for="escolha{{ forloop.counter }}">{{sel.tipo}}</label>
    {% endfor %}

    <input type="submit" value="Submeter">
</form>
